:root {
  --primary-color: #3B54FF;
  --secondary-color: #BCD3FF;
  --accent-color: #FFB84D;
  --background-color: #F8F9FD;
  --text-color: #222222;
  --text-secondary-color: #525252;
  --error-color: #FF5252;
}
